@model Blog.BlogItemContainer

@{
    ViewData["Title"] = "Читалка";
}
<link rel="stylesheet" asp-href-include="~/css/reader.css" asp-append-version="true" />
<script asp-src-include="~/js/site.js" asp-append-version="true"></script>
<script asp-src-include="~/js/reader.js" asp-append-version="true"></script>
<h2>@TempData["data"]</h2>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Статьи
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="Index?id=0">@Model.ObjectArray[0].Name</a>
        <a class="dropdown-item" href="Index?id=1">@Model.ObjectArray[1].Name</a>
        <a class="dropdown-item" href="Index?id=2">@Model.ObjectArray[2].Name</a>
        <a class="dropdown-item" href="Index?id=3">@Model.ObjectArray[3].Name</a>
        <a class="dropdown-item" href="Index?id=4">@Model.ObjectArray[4].Name</a>
        <a class="dropdown-item" href="Index?id=5">@Model.ObjectArray[5].Name</a>
        <a class="dropdown-item" href="Index?id=6">@Model.ObjectArray[6].Name</a>
        <a class="dropdown-item" href="Index?id=7">@Model.ObjectArray[7].Name</a>
    </div>
</div>

   
    <div id="descript" class="bg-light border-dark">

    </div>
  

<script>
  
  function Description(msg) {
    document.getElementById("descript").innerHTML = msg;
}
(function LoadDescription(path) {
    httpGetAsync("@Model.GetActiveObject().Path.Replace("wwwroot","..")", Description);
}())
function Result(msg) {
    document.getElementById("result").innerHTML = msg;
    document.getElementById("result").scrollIntoView();
}
</script>
@*function ConcreteProductView() {
    httpGetAsync("@Url.Action("GetServiceType", "Services")?id=" + @Model.Id, Result);
    }
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true);
        xmlHttp.send(null);
    }*@
