@model Petronomica.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Настройки заказа";
}
<a asp-action="Index">Витрина</a>
<h2>Ваш заказ:</h2>
<div class="container">
    <div class="row">
        <div class="mb-3 shadow-sm">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OrderType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderType)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OrderStatus)
                </dd>
            </dl>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        Ваше сообщение: @TempData["YourMessage"]
    </div>
    <hr>
    <div class="alert alert-success" role="alert">
        Ожидайте ответа на почту  @TempData["YourMail"]!
    </div>
</div>
